---
import Layout from '@/layouts/Layout.astro';
import Petscii from '@/components/Petscii.astro';
---

<Layout title="Anatoly's Blog" description="An index of all my blog posts.">
  <div class="smoothing-none font-c64pm text-px16 sm:text-px24">
    <h1 class="mb-1">no posts yet...</h1>
    <div>
      <a
        href="/"
        class="inline-block bg-grey-dark outline-none hover:bg-cyan hover:text-blue-dark focus-visible:bg-cyan focus-visible:text-blue-dark"
      >
        <span aria-hidden="true"><Petscii index={31} /></span>home</a
      >
    </div>
  </div>
</Layout>
