@import "./reset.css";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  src: url("/fonts/Ubuntu[wdth,wght].ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  src: url("/fonts/Ubuntu-Italic[wdth,wght].ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  src: url("/fonts/UbuntuMono[wght].ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  src: url("/fonts/UbuntuMono-Italic[wght].ttf");
}

*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-px {
  bottom: 1px;
}
.left-0 {
  left: 0;
}
.z-10 {
  z-index: 10;
}
.m-2 {
  margin: 0.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-40 {
  margin-top: 10rem;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-0 {
  height: 0px;
}
.h-0\.5 {
  height: 0.125rem;
}
.h-32 {
  height: 8rem;
}
.h-\[calc\(100vh-10rem\)\] {
  height: calc(100vh - 10rem);
}
.h-full {
  height: 100%;
}
.h-min {
  height: -moz-min-content;
  height: min-content;
}
.min-h-full {
  min-height: 100%;
}
.min-h-screen {
  min-height: 100vh;
}
.w-32 {
  width: 8rem;
}
.w-40 {
  width: 10rem;
}
.w-full {
  width: 100%;
}
.w-min {
  width: -moz-min-content;
  width: min-content;
}
.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.max-w-full {
  max-width: 100%;
}
.list-inside {
  list-style-position: inside;
}
.list-disc {
  list-style-type: disc;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.gap-5 {
  gap: 1.25rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.border {
  border-width: 1px;
}
.border-tgreen {
  --tw-border-opacity: 1;
  border-color: rgb(129 178 154 / var(--tw-border-opacity));
}
.border-tpurple {
  --tw-border-opacity: 1;
  border-color: rgb(27 29 46 / var(--tw-border-opacity));
}
.bg-tpurple {
  --tw-bg-opacity: 1;
  background-color: rgb(27 29 46 / var(--tw-bg-opacity));
}
.bg-twhite {
  --tw-bg-opacity: 1;
  background-color: rgb(244 241 222 / var(--tw-bg-opacity));
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.align-middle {
  vertical-align: middle;
}
.font-mono {
  font-family: Ubuntu Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.italic {
  font-style: italic;
}
.leading-none {
  line-height: 1;
}
.text-tgreen {
  --tw-text-opacity: 1;
  color: rgb(129 178 154 / var(--tw-text-opacity));
}
.text-tred {
  --tw-text-opacity: 1;
  color: rgb(224 122 95 / var(--tw-text-opacity));
}
.text-twhite {
  --tw-text-opacity: 1;
  color: rgb(244 241 222 / var(--tw-text-opacity));
}
.text-tyellow {
  --tw-text-opacity: 1;
  color: rgb(242 204 143 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.decoration-dashed {
  text-decoration-style: dashed;
}
.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}
.duration-100 {
  transition-duration: 0.1s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:translate-y-1:hover {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:rotate-6:hover {
  --tw-rotate: 6deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:border-tgreen:hover {
  --tw-border-opacity: 1;
  border-color: rgb(129 178 154 / var(--tw-border-opacity));
}
.hover\:bg-tgreen:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(129 178 154 / var(--tw-bg-opacity));
}
.hover\:text-tred:hover {
  --tw-text-opacity: 1;
  color: rgb(224 122 95 / var(--tw-text-opacity));
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:decoration-solid:hover {
  text-decoration-style: solid;
}
.active\:-translate-y-1:active {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.active\:rotate-180:active {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.active\:scale-90:active {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.active\:bg-tpurple:active {
  --tw-bg-opacity: 1;
  background-color: rgb(27 29 46 / var(--tw-bg-opacity));
}
.active\:text-twhite:active {
  --tw-text-opacity: 1;
  color: rgb(244 241 222 / var(--tw-text-opacity));
}
.group:hover .group-hover\:h-full {
  height: 100%;
}
.align-last-justify {
  text-align-last: justify;
}
@media (min-width: 640px) {
  .sm\:w-1\/2 {
    width: 50%;
  }
  .sm\:w-2\/3 {
    width: 66.666667%;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:items-start {
    align-items: flex-start;
  }
  .sm\:p-4 {
    padding: 1rem;
  }
  .sm\:pt-5 {
    padding-top: 1.25rem;
  }
  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .sm\:text-\[14rem\] {
    font-size: 14rem;
  }
}
@media (min-width: 768px) {
  .md\:max-w-4xl {
    max-width: 56rem;
  }
}
