@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  src: url("/fonts/Ubuntu[wdth,wght].ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  src: url("/fonts/Ubuntu-Italic[wdth,wght].ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  src: url("/fonts/UbuntuMono[wght].ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: italic;
  src: url("/fonts/UbuntuMono-Italic[wght].ttf");
}
