---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <img src="/images/mitosis.gif" alt="mitosis">
  <h1 class="text-4xl font-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, velit?</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti recusandae sequi vel dolorum pariatur consectetur eius dolores facere rem, aliquam obcaecati, omnis voluptatem hic? Fugit autem rem dolorem nostrum voluptas, ea magni nobis ab recusandae ratione itaque. Dignissimos a deleniti quasi veritatis? Dolorum numquam ullam, laudantium tenetur a eligendi?</p>
</Layout>
