---
import Layout from '@/layouts/Layout.astro';
import Petscii from '@/components/Petscii.astro';
import { anatoly, wave, socialBox, blogBox } from '@/utils/art';
import { nChars } from '@/utils/petscii';
import FontToggle from '@/components/FontToggle.astro';
---

<Layout
  title="Teatov"
  description="Hi, I'm Anatoly: a fullstack web dev, a hobbyist game dev and a 3D artist."
>
  <div class="smoothing-none my-4 font-c64pm text-px16 sm:text-px24">
    <div class="text-grey-light sm:-ml-1">Hi, I'm</div>
    <div title="Anatoly" aria-label="Anatoly:" class="cursor-help">
      <div aria-hidden="true"><Petscii matrix={anatoly} /></div>
    </div>
    <div class="-mt-1 w-18 overflow-hidden text-grey-dark">
      <div class="scroll w-20 select-none" aria-hidden="true">
        <Petscii matrix={[[...wave, ...wave, ...wave.slice(0, 1)]]} />
      </div>
    </div>
    <ul>
      <li class="text-green-light sm:ml-3">
        <span aria-hidden="true">
          <Petscii index={90} />
        </span> a fullstack web dev,
      </li>
      <li class="text-yellow sm:ml-4">
        <span aria-hidden="true">
          <Petscii index={90} />
        </span> a hobbyist game dev,
      </li>
      <li class="text-red-light sm:ml-5">
        <span aria-hidden="true">
          <Petscii index={90} />
        </span> and maybe an artist.
      </li>
    </ul>
    <div class="mb-1 mt-1 flex flex-col sm:flex-row">
      <div class="relative ml-4 sm:-ml-2 sm:w-20">
        <div class="absolute select-none text-grey-dark" aria-hidden="true">
          <Petscii matrix={socialBox(5, 0, 5)} />
        </div>
        <ul class="absolute ml-1 flex space-x-1 px-1 pt-1">
          <li class="inline-block">
            <a
              href="https://bsky.app/profile/teatov.xyz"
              class="inline-block bg-grey-dark outline-none hover:bg-blue-dark hover:text-cyan focus-visible:bg-blue-dark focus-visible:text-cyan"
              title="Bluesky"
              aria-label="Bluesky"
              rel="noopener noreferrer">•bsky</a
            >
          </li>
          <li class="inline-block">
            <a
              href="https://github.com/teatov"
              class="inline-block bg-grey-dark outline-none hover:bg-grey-light hover:text-grey-dark focus-visible:bg-grey-light focus-visible:text-grey-dark"
              title="GitHub"
              aria-label="GitHub"
              rel="noopener noreferrer">•gthb</a
            >
          </li>
        </ul>
      </div>
      <div class="ml-7 mt-4 h-3 w-8 sm:ml-2 sm:mt-0">
        <div class="absolute select-none text-grey-dark" aria-hidden="true">
          <Petscii matrix={blogBox(4)} />
        </div>
        <div class="absolute ml-2 pt-1">
          <a
            href="/blog"
            class="group inline-block text-grey-light outline-none"
          >
            <span
              class="group-hover:bg-blue-light group-hover:text-blue-dark group-focus-visible:bg-blue-light group-focus-visible:text-blue-dark"
              >b</span
            ><span
              class="group-hover:bg-green-light group-hover:text-green-dark group-focus-visible:bg-green-light group-focus-visible:text-green-dark"
              >l</span
            ><span
              class="group-hover:bg-yellow group-hover:text-brown-light group-focus-visible:bg-yellow group-focus-visible:text-brown-light"
              >o</span
            ><span
              class="group-hover:bg-red-light group-hover:text-red-dark group-focus-visible:bg-red-light group-focus-visible:text-red-dark"
              >g</span
            ></a
          >
        </div>
      </div>
    </div>
    <div class="ml-1 mt-2 sm:ml-3">
      <div class="text-grey-light">
        <span class="text-grey-dark">&gt;</span> my electromail:
      </div>
      <div class="ml-2">
        teatov@<span class="hidden">FUCK EMAIL HARVESTERS</span>proton.me
      </div>
      <div
        class="ml-2 w-full select-none overflow-hidden text-red-dark"
        aria-hidden="true"
      >
        <Petscii matrix={[[...nChars(16, 104)]]} />
      </div>
    </div>
    <div class="mt-3 w-22 readable:font-sans readable:leading-8 sm:w-26">
      <div class="mb-1 flex justify-end">
        <FontToggle />
      </div>
      <div class="text-yellow">stuff I made:</div>
      <ul class="space-y-1">
        <li>
          <span class="text-grey-dark">&gt;</span>&nbsp;<a
            href="https://steamry.com/"
            class="outline-none hover:bg-grey-dark hover:text-yellow focus-visible:bg-grey-dark focus-visible:text-yellow"
            >Steamry</a
          >
          <span class="text-grey-light"
            >- a daily Steam review ratio guessing game</span
          >
        </li>
        <li>
          <span class="text-grey-dark">&gt;</span>&nbsp;<a
            href="https://teatov.xyz/bsky-connectivity-graph/"
            class="outline-none hover:bg-grey-dark hover:text-yellow focus-visible:bg-grey-dark focus-visible:text-yellow"
            >Bluesky connectivity graph thingy</a
          >
          <span class="text-grey-light"
            >- visualize how interconnected are your follows</span
          >
        </li>
        <li>
          <span class="text-grey-dark">&gt;</span>&nbsp;<a
            href="https://teatov.xyz/css-palettery/"
            class="outline-none hover:bg-grey-dark hover:text-yellow focus-visible:bg-grey-dark focus-visible:text-yellow"
            >CSS palettery</a
          >
          <span class="text-grey-light"
            >- a tool for changing CSS colors in bulk</span
          >
        </li>
        <li>
          <span class="text-grey-dark">&gt;</span>&nbsp;<a
            href="https://teatov.xyz/wiki-lang-comparer/"
            class="outline-none hover:bg-grey-dark hover:text-yellow focus-visible:bg-grey-dark focus-visible:text-yellow"
            >Wikipedia article language comparer</a
          >
          <span class="text-grey-light"
            >- find the languages that one Wikipedia article has, but the other
            doesn't</span
          >
        </li>
      </ul>
      <div class="mt-2 text-red-light">cool links:</div>
      <ul class="space-y-1">
        <li>
          <span class="text-grey-dark">&gt;</span>&nbsp;<a
            href="/library"
            class="outline-none hover:bg-grey-dark hover:text-yellow focus-visible:bg-grey-dark focus-visible:text-yellow"
            >my giant music library</a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
