---
import Layout from '@/layouts/Layout.astro';
import TreeItem, { type TreeDirectory } from '@/components/TreeItem.astro';
import musicTree from '@/lib/musicTree.json';
import Petscii from '@/components/Petscii.astro';

type TreeSummary = {
  type: 'report';
  directories: number;
  files: number;
};

const root = musicTree[0] as TreeDirectory;
root.name = '.';
const summary = musicTree[1] as TreeSummary;
---

<Layout
  title="Teatov's huge ass music library"
  description="A list of all the music that I have"
>
  <div class="my-4 px-1">
    <a
      href="/"
      class="mb-1 inline-block bg-grey-dark outline-none hover:bg-cyan hover:text-blue-dark focus-visible:bg-cyan focus-visible:text-blue-dark"
    >
      <span aria-hidden="true"><Petscii index={31} /></span> back</a
    >
    <p>Welcome to my huge ass list of all the music that I have.</p>
    <p>
      I believe that the best way to listen to music is to have it on your hard
      drive.
    </p>
    <p>
      Also I really, really like sharing stuff that I like, so here's a full
      tree view of my <code>Music</code> directory.
    </p>
    <p class="mt-1">
      I've been gathering music for my whole life, so there's A LOT.
    </p>
    <p>
      So it's not really convenient as a recommendation playlist. <br />
      But you can still try looking up anything that may pick your interest.
    </p>
    <p class="mt-1">
      I wish I could provide links for all of it, but it would be an insane task
      since there's so much entries, <br />
      but I'll try my best to at least add links and info for the more obscure stuff.
    </p>
    <p class="mt-1">
      You can use this to check if my tastes intersect with yours, if that
      matters to you.<br />
      But something being present here doesn't guarantee I actually enjoy it or even
      have ever touched it, <br /> I might just like the music.
    </p>
    <p class="mt-1">
      All the tracks are divided into 5 categories. The names are pretty
      self-explanatory,<br />
      but <code>mashups</code> can mean any sort of remixes and also include SiIvaGunner,<br
      />
      and <code>youtube music</code> includes anything I specifically found on YouTube
      or strongly associate with it.
    </p>
    <p class="mt-1">
      Directories with names starting with <code>_</code> are groups. <br />
      They are pretty arbitrary, be it by franchise, studio, artist or just vibes.
    </p>
    <p class="mt-1">
      You can look at the change history <a
        href="https://github.com/teatov/teatov.github.io/commits/main/src/lib/musicTree.json"
        class="mb-1 inline-block bg-cyan text-black outline-none hover:bg-blue-dark hover:text-cyan focus-visible:bg-blue-dark focus-visible:text-cyan"
        rel="noopener noreferrer">here</a
      >.
    </p>
    <p class="mt-1">
      <strong
        >Tip: you can middle-click on the links to open them in a new tab.</strong
      > It makes opening lots of links faster.<br /><strong
        >Also you can <code>expand all</code> and <code>Ctrl+F</code> if you're looking
        for something in particular.</strong
      >
    </p>
    <p class="mt-1">
      <em>
        Summary: {summary.files} files, {summary.directories} directories. Last updated:
        {new Date().toDateString().split(' ').slice(1).join(' ')}.
      </em>
    </p>
    <button
      id="toggle-items"
      class="bg-grey-dark outline-none hover:bg-cyan hover:text-blue-dark focus-visible:bg-cyan focus-visible:text-blue-dark"
      >expand/collapse all</button
    >
    <div class="mb-10 mt-1">
      <TreeItem directory={root} />
    </div>
  </div>
</Layout>

<script>
  function toggleItems() {
    const open = document.body
      .querySelector('details.tree-item')
      ?.hasAttribute('open');
    document.body.querySelectorAll('details.tree-item').forEach((e) => {
      open ? e.removeAttribute('open') : e.setAttribute('open', 'true');
    });
  }

  document
    .getElementById('toggle-items')
    ?.addEventListener('click', toggleItems);
</script>
