---
interface Props {
  title: string;
  image: string;
  href: string;
}

const { href, title, image } = Astro.props;
---

<li>
  <a href={href} target="_blank">
    <div
      class="w-full p-1 sm:p-4 border border-tpurple ease-in-out duration-100
	   hover:border-tgreen hover:translate-y-1 active:-translate-y-1"
    >
      <img src={image} alt="" />
      <p class="text-justify">{title}</p>
    </div>
  </a>
</li>
