<button id="readableFontToggle" class="group outline-none">
  readable font
  <span
    class="select-none group-hover:bg-grey-dark group-hover:text-grey-light group-focus-visible:bg-grey-dark group-focus-visible:text-grey-light"
    aria-hidden="true"
    >[<span id="readableFontMark" class="invisible">X</span>]</span
  >
</button>

<script>
  const readableFont = (() => {
    if (
      typeof localStorage !== 'undefined' &&
      localStorage.getItem('readableFont')
    ) {
      return localStorage.getItem('readableFont');
    }
    return 'off';
  })();

  if (readableFont === 'off') {
    document.documentElement.classList.remove('readable');
    document.getElementById('readableFontMark')?.classList.add('invisible');
  } else {
    document.documentElement.classList.add('readable');
    document.getElementById('readableFontMark')?.classList.remove('invisible');
  }

  window.localStorage.setItem('readableFont', readableFont ?? '');

  const handleToggleClick = () => {
    const element = document.documentElement;
    element?.classList.toggle('readable');
    document.getElementById('readableFontMark')?.classList.toggle('invisible');

    const isReadable = element?.classList.contains('readable');
    localStorage.setItem('readableFont', isReadable ? 'on' : 'off');
  };

  document
    ?.getElementById('readableFontToggle')
    ?.addEventListener('click', handleToggleClick);
</script>
