---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav class="lg:max-w-17">
  <h2 class="readable:font-bold">Table of Contents</h2>
  <ul>
    {
      headings.map((heading) => (
        <li class="text-grey-light">
          <a
            aria-label={`Scroll to section: ${heading.text}`}
            href={`#${heading.slug}`}
            class={`block outline-none hover:bg-grey-light hover:text-black focus-visible:bg-grey-light focus-visible:text-black ml-${heading.depth - 1}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  const observer = new IntersectionObserver((sections) => {
    sections.forEach((section) => {
      const heading = section.target.querySelector('h1, h2, h3, h4, h5');
      if (!heading) return;
      const id = heading.getAttribute('id');

      const link = document.querySelector(`aside li a[href="#${id}"]`);
      if (!link) return;

      if (section.intersectionRatio > 0) {
        link?.classList.add('bg-grey-dark');
      } else {
        link?.classList.remove('bg-grey-dark');
      }
    });
  });

  document.querySelectorAll('section').forEach((section) => {
    observer.observe(section);
  });
</script>
