---
import '@/styles/style.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script defer src="https://eu.umami.is/script.js" data-website-id="ebf7f141-0a05-43b4-8c9d-57219324c3d0"></script>
  </head>
  <body class="bg-black text-white">
    <div class="flex min-h-screen items-center justify-center">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
